<html>
    <head>
        {% if title %}
        <title>
            {{title}} - web ap pag
        </title>
        {% else %}
        <title>
             web ap pag
        </title>
        {% endif %}
    </head>
    
    <body>
        <div>
            Web App: <a href="/index"> Home </a>
            <a href="/login">Sign In </a>
        </div>
        <hr>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
         <ul>
             {% for msg in messages %}
             <li> {{ msg }} </li>
             {% endfor %}
        </ul>
         {% endif %}
         {% endwith %}
         
        {% block content %}
        {% endblock %}

    </body>
</html>
