<html>
    <head>
        {% if title %}
        <title>
            {{title}} - web ap pag
        </title>
        {% else %}
        <title>
             web ap pag
        </title>
        {% endif %}
    </head>
    
    <body>
        <div>
            Web App: <a href="{{ url_for('index') }}"> Home </a>
            <a href="{{ url_for('login') }}">  Sign In </a>
        </div>
        <div>
            Web App:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
           {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
         <ul>
             {% for msg in messages %}
             <li> {{ msg }} </li>
             {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
         
        {% block content %}
        {% endblock %}

    </body>
</html>
